:root {
  --white: #fff;
  --black: #000;
  --blue: #2196f3;
  --darkgrey: #2f303a;
  --grey: #757575;
  --lightgrey: #e5e5e5;
  --lightcream: #ececec;
  --notblack: #212121;
  --notwhite: #f5f4fa;
  --footerlinks: #ffffff99;
  --productborder: #eeeeee;
  --background: #2f303a66;
  --icon-inactive: #afb1b8;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--grey);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}
p {
  margin: 0px;
  padding: 0px;
}
h1 {
  margin: 0px;
  padding: 0px;
}
h2 {
  padding: 0px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 0 50px 0;
  color: var(--notblack);
}
h3 {
  margin: 0px;
  padding: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
}
.blue-text:hover,
.blue-text:focus {
  color: var(--blue);
}
/*header*/
.logoweb {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  color: var(--blue);
  letter-spacing: 0.03em;
  text-decoration: none;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 93px;
  margin-bottom: 32px;
  height: 80px;
}
.logostudio {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  color: var(--black);
  letter-spacing: 0.03em;
  text-decoration: none;
}
.links-display {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  text-decoration: none;
  list-style: none;
}
.nav-style {
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto';
  gap: 46px;
  /* padding: 32px; */
}
.blue-text {
  color: var(--blue);
}
.links-style {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  color: var(--black);
}
.links-no-underline {
  text-decoration: none;
}
.links {
  text-decoration: none;
  color: var(--black);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.links:hover,
.links:focus {
  color: var(--blue);
}
.blue-portfolio {
  color: var(--blue);
}
.blue-index {
  color: var(--blue);
}
.contact-link-style {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: var(--grey);
  list-style: none;
  flex-direction: row;
  margin-left: auto;
  display: flex;
  gap: 50px;
  padding: 0;
}
.contact-link-style:hover,
.contact-link-style:focus {
  color: var(--blue);
}
/* first-section */
.f-section-text {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  color: var(--white);
  text-decoration: none;
  text-align: center;
}
.f-section-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 200px 0;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
.f-section-button {
  font-family: 'Roboto';
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  background-color: var(--blue);
  border-style: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 200px;
  cursor: pointer;
  margin-top: 15px;
}
.background-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: rgba(47, 48, 58, 40%) url('../images/imgbg.jpg');
  background-blend-mode: darken;
  width: 100%;
  height: 600px;
  max-width: 1600px;
  margin: 0 auto;
}
/* lorem ipsum section */
.lor-ips-ul {
  display: flex;
  flex-direction: row;
  margin: 94px 0 0 0;
  gap: 30px;
  justify-content: center;
  text-decoration: none;
  list-style: none;
}
.lor-ips-header {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  width: 270px;
  height: 16px;
  color: var(--notblack);
}
.lor-ips-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  width: 270px;
  height: 75px;
  color: var(--grey);
}
/* services */
.services-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.172;
  text-align: center;
  color: var(--notblack);
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.services-img {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 30px;
}
/* team section*/
.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  color: var(--notblack);
  /* padding: 0 0 50px 0;        zmieniono, żeby uwzględnić padding z klasy h2 */
}
.team-card {
  background: var(--white);
  border-radius: 0px 0px 4px 4px;
  margin: 0;
  align-items: center;
  text-align: center;
  justify-content: center;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.team-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.team-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.171;
  text-align: center;
  color: var(--notblack);
  margin: 30px 0px 10px 0;
}
.team-profession {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.188;
  text-align: center;
  color: var(--grey);
  margin: 0;
  padding: 0px 0px 30px 0px;
}
.team-background {
  background-color: var(--notwhite);
}
/* footer */
.footer-background {
  background-color: var(--darkgrey);
  /* dodane dwie pozycje poniżej */
  width: 100%;
  padding: 60px 0;
}
/* dodana klasa poniżej */
.footer-box {
  margin-left: 215px;
}
.footer-logo {
  font-family: Raleway;
  font-style: normal;
  color: var(--white);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
}
.footer-adress {
  font-family: 'Roboto';
  font-style: normal;
  color: var(--white);
  line-height: 1.714;
}
.footer-ul-style {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.footer-mail {
  font-family: 'Roboto';
  font-style: normal;
  line-height: 1.714;
  color: var(--footerlinks);
  text-decoration: none;
}
.footer-mail:hover,
.footer-mail:focus {
  color: var(--blue);
}
/* P O R T F O L I O */
.nav-button {
  color: var(--notblack);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  background-color: var(--notwhite);
  border-style: none;
  border-radius: 4px;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  /* height: 38px;
  width: 121px; */
  cursor: pointer;
  padding: 6px 22px;
  transition: 0.25s;
  line-height: 30px;
}
/* Project Base */
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--notblack);
  list-style: none;
  padding: 20px 24px 4px;
  /* dodany letter spacing */
  letter-spacing: 0.06em;
  margin: 0;
}
.project-subtitle {
  line-height: 1.875;
  padding: 4px 24px 20px 24px;
  font-size: 16px;
  margin: 0;
}
.projects-lists {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 94px;
  padding: 0px;
  gap: 30px;
}
.outbox {
  box-sizing: border-box;
  box-shadow: none;
  width: 370px;
  height: 110px;
  /* wskazane 3 bordery - było border 1px */
  border-left: 1px;
  border-right: 1px;
  border-bottom: 1px;
  border-top: 0px;
  border-color: var(--productborder);
  border-style: solid;
}
.portfolio-top {
  list-style: none;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.contact {
  list-style: none;
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  padding-left: 364px;
}
.nav-button:hover,
.nav-button:focus {
  background-color: var(--blue);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.nav-button-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  gap: 8px;
  font-family: 'Roboto';
  margin-top: 94px;
  /* margin-bottom: 50px; */
  margin-top: 0 auto;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.body-background {
  background-color: var(--white);
  /* width: 1600px; */
  margin: 0 auto;
}
.border-bottom {
  border-bottom: 1px solid var(--lightcream);
}
.section {
  padding: 94px 0px 94px 0px;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.background-color {
  background-color: var(--white);
}
.box-shadow:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* Index Ikony nad lorem ipsum */
.box-icons-lorem {
  width: 270px;
  height: 120px;
  background-color: var(--notwhite);
  margin-bottom: 30px;
  border-radius: 4px;
}
.icons-lorem {
  margin: 25px 100px;
  background-position: 50% 50%;
  /* Ikony kontaktów */
}
.icon-header-gap {
  margin-right: 10px;
}
.envelope-icon,
.smartphone-icon {
  fill: var(--grey);
  transition: 0.2s;
}
.icon-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.envelope-icon:hover,
.envelope-icon:focus,
.smartphone-icon:hover,
.smartphone-icon:focus {
  fill: var(--blue);
  transition: 0.2s;
}

/* Social Icons */
.box-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
.icon-social {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white);
  fill: var(--icon-inactive);
}
.icon-social:hover svg,
.icon-social:focus svg {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--blue);
  fill: var(--white);
}
.box-circle {
  width: 44px;
  height: 44px;
}
/* NASI KLIENCI */
.box-icons-clients {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  background-color: var(--white);
  border: 1px solid var(--icon-inactive);
  border-radius: 4px;
  transition: 0.4s;
}
.box-icons-clients:hover svg,
.box-icons-clients:focus svg,
.box-icons-clients:hover,
.box-icons-clients:focus {
  fill: var(--blue);
  border-color: var(--blue);
  transition: 0.4s;
}
.icon-clients {
  fill: var(--icon-inactive);
  transition: 0.4s;
}
.box-our-clients {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0;
  list-style: none;
}
.our-clients-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  color: var(--notblack);
  padding: 0 0 50px 0;
}
/* FOOTER ICONS */
.box-socials-footer {
  margin-top: 12px;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
}
.social-heading-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--notwhite);
  margin-bottom: 20px;
}
.socials-footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.icon-social-footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--grey);
  fill: var(--white);
  transition: 0.2s;
}
.icon-social-footer:hover svg,
.icon-social-footer:focus svg {
  transition: 0.2s;
  background-color: var(--blue);
}
.footer-pos {
  /* padding-top: 60px; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-cont {
  display: flex;
  flex-direction: row;
  gap: 70px;
}
